@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-left: 20%;
    padding: 30px;
    background: linear-gradient(180deg, #033070, #001943);
    min-height: 100vh;
}

.maquinas_listadas .titulo h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.maquinas_listadas .pesquisa {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maquinas_listadas .pesquisa h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.maquinas_listadas .pesquisa input {
    width: 80%;
    border-radius: 30px;
    border: none;
    padding: 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #001943;
    transition: 0.2s ease-in-out;
}

.maquinas_listadas .pesquisa input:focus {
    outline: none;
    border-color: #005eff;
    box-shadow: 0 6px 14px rgba(0, 94, 255, 0.2);
}

.maquinas_listadas .pesquisa ::-webkit-input-placeholder {
    color: #001943;
}